<!DOCTYPE html>
<html lang="uk">

<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&family=Montserrat:wght@700&family=Poppins:ital,wght@1,500&family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="shortcut icon" href="{{ url_for('static',filename='images/outfit_icon.svg') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">


<!--HEAD-->
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="My Commode,Commode,Wardrobe,My Wardrobe">
	{% block title %}{% endblock %}
</head>


<!--BODY-->
<body>

    {% block content %}
    {% endblock %}

</body>

</html>
