{% extends "logged-in-layout.html" %}

{% block title %}<title>Generate Outfit</title>{% endblock %}
{% block content %}
	<!--TITLE-->
	<div class="settings apperance">
		<div class="adding_title">Generating Outfit</div>	
	</div>

	<!--PLATES-->
	<div class="generating_plates apperance">
		<button class="hat_generation"></button>
		<button class="body_generation"></button>
		<button class="legs_generation"></button>
		<button class="feet_generation"></button>
	</div>

	<!--GENERATE OUTFITS-->
	<a href="{{url_for('generate_views.generating')}}"><button class="generate_outfits apperance">Generate Outfit</button></a>

	<!--NAVIGATION-->
	<nav class="nav">
		<a class="link apperance" href='{{ url_for("views.wardrobe") }}' method='get'><img src="/static/images/wardrobe_icon.svg" class="icon">Wardrobe</a>
		<a class="link apperance" href='{{ url_for("wish_views.wish_list") }}'><img src="/static/images/wishlist_icon.svg" class="icon">Wishlist</a>
		<a class="link logo apperance" href='{{url_for("generate_views.generate")}}'><img src="/static/images/logo tapped.svg"></a>
		<a class="link apperance" href='{{url_for("outfits_views.outfits")}}'><img src="/static/images/outfits_icon.svg" class="icon">Outfits</a>
		<a class="link apperance" href='{{ url_for("views.home") }}'><img src="/static/images/profile_icon.svg" class="icon">Profile</a>
	</nav>

{% endblock %}