{% extends "layout.html" %}

{% block title %}<title>Sign Up</title>{% endblock %}
{% block content1 %} <div class="upeer_title text_animation">My<p>Commode</p></div> {% endblock %}
{% block content %}

<div class="signup_form apperance">
	<div class="form_title">Sign up</div>
	<form action='{{ url_for("auth.sign_up") }}' class="form" method = 'post'>
		  <input class="input" type="text" placeholder="username" name="username" required>
		  <input class="input" type="email" placeholder="email adress" name="email" required>
		  <input class="input" type="password" placeholder="password" name="password1" required>
		  <input class="input" type="password" placeholder="repeat password" name="password2" required>

			  				<!--REMEMBER-->
  				<label class="checkbox style-c">
        			<input type="checkbox" name="remember_me">
        			<div class="checkbox__checkmark"></div>
        			<div class="checkbox__body">Remember me</div>
      			</label>

		  <a class="already" href='{{ url_for("auth.log_in") }}'><p>I already have an account</p></a>
		  <input class="input next" type="submit" value="Next" >
	</form>
</div>

{% endblock %}	